.content-section {
    text-align: left; 
    padding-left: 20px;
    display: flex
}

.table-of-contents {
    border: 1px solid white; 
    margin-left: 0;
    padding: 10px; 
    display: inline-block; 
    width: auto; 
    background-color: transparent; 
    text-align: left;
    flex: 1
}

.table-of-contents ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.table-of-contents li {
    padding: 2px 0; 
}

.table-of-contents li a {
    color: #CCCCCC; 
    text-decoration: none;
}

.qt {
    flex: 3;
    text-align: center;
    padding: 30px
}

.light-mode .table-of-contents li a {
    color: #333;
}

.light-mode .table-of-contents {
    border: 1px solid #333; 
    color: #333
}

