#puzzle-grid {
    display: grid;
    gap: 0px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #666;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: fit-content;
}

.grid-cell {
    background-color: #fff;
    border: 0.1px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell.shaded {
    background-color: grey;
}

.number-cell {
    color: #444;
    font-size: 1.5em
}

.unshaded-cell {
    background-color: lime;
}

.blocked {
    background-color: black;
}

.number-cell-array {
    color: #444;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.number-top-left,
.number-bottom-right,
.number-top-middle,
.number-bottom-left,
.number-bottom-right,
.number-middle-left,
.number-middle-top,
.number-middle-right,
.number-middle-bottom {
  position: absolute;
  margin: 0;
  padding: 0;
}

.number-top-left { top: 0; left: 5%; }
.number-bottom-right { bottom: 0; right: 5%; }
.number-top-middle { top: 0; left: 50%; transform: translateX(-50%); }
.number-bottom-left { bottom: 0; left: 5%; } 
.number-middle-left { top: 50%; left: 5%; transform: translateY(-50%); } 
.number-middle-top { top: 0; left: 50%; transform: translateX(-50%); }
.number-middle-right { top: 50%; right: 5%; transform: translateY(-50%); } 
.number-middle-bottom { bottom: 0; left: 50%; transform: translateX(-50%); }